<html>

<head>
	<title>Page</title>
	<style>
		@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);

		html,
		body {
			height: 100%;
			font-family: 'Signika Negative', sans-serif;
			font-size: 25px;
		}

		html {
			background: url('https://2.bp.blogspot.com/-SUMDIuZ7m48/TeWj1YDWcNI/AAAAAAAABhg/9fjPiDZHwms/s1600/winter.JPG') fixed;
			background-size: 100%;
		}

		div {
			overflow: hidden;
		}

		a {
			color: #322bff;
			text-decoration: underline;
			transition: 500ms;
		}

		a:hover {
			color: #26a1ff;
		}

		p {
			padding: 0 5%;
		}

		img {
			box-shadow: 0px 0px 4px #000;
		}

		#header {
			background: rgba(255, 255, 255, .5);
			padding: 1%;
			overflow: hidden;
			height: 55px;
		}

		#header img {
			float: left;
			box-shadow: none;
		}

		#header ul {
			list-style: none;
			float: left;
			padding-left: 10px;
			margin-top: 15px;
		}

		#header ul li {
			float: left;
			margin-left: 10px;
			font-size: 20px;
		}

		.fullscreen {
			height: 95%;
			position: relative;
		}

		.fullscreen .header {
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
			color: #fff;
			text-shadow: 0px 0px 2px #000;
		}

		.prev-next {
			background-color: inherit;
			font-family: inherit;
			color: darkcyan;
			font-size: inherit;
			border: none;
		}

		.prev-next:hover {
			color: cyan;
		}

		.white {
			background: #eeeeec;
			padding: 0 5%;
		}

		.nobg {
			background: none;
			padding: 0 5%;
			color: #fff;
			text-shadow: 0px 0px 4px #000;
		}

		.semitrans {
			background: rgba(255, 255, 255, .5);
			padding: 0 5%;
		}

		.dark {
			color: #eeeeec;
			background: #010105;
			padding: 0 5%;
		}

		.nopadding {
			padding: 0;
		}

		.floatleft {
			float: left;
			margin: 2%;
			height: 75vh;
		}

		.floatright {
			float: right;
			margin: 2%;
			height: 75vh;
		}

		.bottom {
			margin: 2%;
			height: 15%;
		}

		.more {
			text-align: center;
			font-size: 17px;
		}

		.more a {
			color: #aaa;
			text-decoration: none;
			cursor: pointer;
		}

		.more a:hover {
			color: #777;
		}
	</style>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
	{{>nav}}
	<div class="dark">
		<a id="test"></a>
		<h1 style="text-align:center"> Page {{pno}} </h1>
		<div>
			<img class="floatleft"
				src="https://res.cloudinary.com/hcti/image/fetch/c_limit,f_auto,q_auto:good,w_800/https://docs.htmlcsstoimage.com/assets/images/cat.png" />
			<p>{{para}}</p>
		</div>
		<div class="bottom">
			<a class="prev-page floatleft" href="../{{year}}/{{prevno}}"><button class="prev-next">
				<span class="material-symbols-outlined" style="vertical-align: middle">arrow_back</span>
				Previous
			</button></a>
			<a class="next-page floatright" href="../{{year}}/{{nextno}}"><button class="prev-next">
				Next
				<span class="material-symbols-outlined" style="vertical-align: middle">arrow_forward</span>
			</button></a>
			
		</div>
	</div>

	{{>BottomPara}}
	<div class="dark" style="text-align:center">
		<p>💖Made By Mrigayan💖</p>
	</div>
</body>

</html>